# Roblox Studio place files
/*.rbxl
/*.rbxlx

# Roblox Studio lock files
/*.rbxl.lock
/*.rbxlx.lock

# Roblox model files
/*.rbxm
/*.rbxmx

/Packages
/DevPackages

# Wally package test files
/tinyFSM
/*.tgz
